.page {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #2A2C2F;
}

@media (max-width: 767px) {
    .visually-hidden {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }
}