@import url(./__copyright/footer__copyright.css);
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 48px;
    margin-right: 48px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        margin-left: 24px;
        margin-right: 24px;
        grid-template-columns: 2fr 1fr;
    }
}

@media (max-width: 767px) {
    .footer {
        grid-template-columns: 1fr;
        margin-left: 16px;
        margin-right: 118px;
    }
}