@import url(../vendor/normalize.css);
@import url(../vendor/1.fonts/Inter/inter.css);

.page {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #2A2C2F;
}