@import url(./__logo/header__logo.css);
@import url(./__list/header__list.css);
@import url(./__link/header__link.css);
@import url(./__lang/header__lang.css);

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content;
    margin: 28px 48px 0 48px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        margin: 28px 24px 0 24px;
    }
}

@media (max-width: 768px) {
    .header {
        margin: 16px 16px 0 16px;
    }
}